In [1]:
import os
import platform
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

if platform.system() == 'Windows':
    df = pd.read_csv(os.path.join("e:/", "Datasets", "datafolder", "datafile.csv"))
else:
    business = pd.read_json(r"/mnt/D_drive/datasets/yelp_dataset/yelp_academic_dataset_business.json" , lines=True)
    checkin = pd.read_json(r"/mnt/D_drive/datasets/yelp_dataset/yelp_academic_dataset_checkin.json" , lines=True)
    review = pd.read_json(r"/mnt/D_drive/datasets/yelp_dataset/yelp_academic_dataset_review.json" , lines=True)
    tip = pd.read_json(r"/mnt/D_drive/datasets/yelp_dataset/yelp_academic_dataset_tip.json" , lines=True)
    user = pd.read_json(r"/mnt/D_drive/datasets/yelp_dataset/yelp_academic_dataset_user.json" , lines=True)

# business Data

In [2]:
'''
 - data for the model 
 --------------------
  1- business ID
  2- categories
  3- 
'''

'\n - data for the model \n --------------------\n  1- business ID\n  2- categories\n  3- \n'

In [3]:
business.head(3)

,business_id,full_address,hours,open,categories,city,review_count,name,neighborhoods,longitude,state,stars,latitude,attributes,type
0,vcNAWiLM4dR7D2nwwJ7nCA,"4840 E Indian School Rd\nSte 101\nPhoenix, AZ ...","{'Tuesday': {'close': '17:00', 'open': '08:00'...",True,"[Doctors, Health & Medical]",Phoenix,7,"Eric Goldberg, MD",[],-111.983758,AZ,3.5,33.499313,{'By Appointment Only': True},business
1,JwUE5GmEO-sH1FuwJgKBlQ,"6162 US Highway 51\nDe Forest, WI 53532",{},True,[Restaurants],De Forest,26,Pine Cone Restaurant,[],-89.335844,WI,4.0,43.238893,"{'Take-out': True, 'Good For': {'dessert': Fal...",business
2,uGykseHzyS5xAMWoN6YUqA,"505 W North St\nDe Forest, WI 53532","{'Monday': {'close': '22:00', 'open': '06:00'}...",True,"[American (Traditional), Restaurants]",De Forest,16,Deforest Family Restaurant,[],-89.353437,WI,4.0,43.252267,"{'Take-out': True, 'Good For': {'dessert': Fal...",business

In [4]:
business.columns

Index(['business_id', 'full_address', 'hours', 'open', 'categories', 'city',
       'review_count', 'name', 'neighborhoods', 'longitude', 'state', 'stars',
       'latitude', 'attributes', 'type'],
      dtype='object')

In [5]:
business["city"].unique()

array(['Phoenix', 'De Forest', 'Mc Farland', 'Middleton', 'Madison',
       'Sun Prairie', 'Windsor', 'Monona', 'Chandler', 'Scottsdale',
       'Tempe', 'Florence', 'Peoria', 'Glendale', 'Cave Creek',
       'Paradise Valley', 'Mesa', 'Ahwatukee', 'Pheonix', 'Anthem',
       'Gilbert', 'Gold Canyon', 'Apache Junction', 'Goldfield',
       'Casa Grande', 'Coolidge', 'Higley', 'Queen Creek', 'Sun Lakes',
       'Goodyear', 'Fort Mcdowell', 'Fountain Hills', 'Fountain Hls',
       'Maricopa', 'chandler', 'Black Canyon City', 'Buckeye',
       'Litchfield Park', 'Tonopah', 'Surprise', 'Wickenburg', 'Sedona',
       'Henderson', 'Las Vegas', 'North Las Vegas', 'N Las Vegas',
       'N. Las Vegas', 'C Las Vegas', 'Sunrise', 'Summerlin',
       'Las Vegas ', 'Cottage Grove', 'Dane', 'Fitchburg', 'Stoughton',
       'Verona', 'Waunakee', 'Trempealeau', 'New River', 'Avondale',
       'Rio Verde', 'Guadalupe', 'El Mirage', 'Sun City', 'Tolleson',
       'Carefree', 'Gila Bend', 'Laveen', 'Youngtown', 'Morristown',
       'Wittmann', 'Sun City West', 'Boulder City', 'Henderston',
       'Nellis Air Force Base', 'Nellis AFB', 'Green Valley',
       'North Scottsdale', 'Litchfield Park ', 'Nellis Afb',
       'San Tan Valley', 'Tortilla Flat', 'Mesa ', 'Fort McDowell',
       'Waddell', 'W Henderson', 'Las Vegas, NV 89147', 'Las Vegas East',
       'DeForest', 'Paradise', 'Stanfield', 'Atlanta', 'Newberry Springs',
       'St Clements', 'Waterloo', 'Kitchener', 'Cambridge', 'Edinburgh',
       'Musselburgh', 'South Queensferry', 'Roslin', 'Dalkeith',
       'Inverkeithing', 'Loanhead', 'Lasswade', 'Penicuik', 'Bonnyrigg',
       'Ratho', 'St Jacobs', 'Arcadia', 'Tonto Basin', 'South Las Vegas',
       'Queensferry', 'Spring Valley', 'Enterprise', 'McFarland',
       'Columbus', 'Rochester', 'North Las Vegas ', 'N E Las Vegas',
       'N W Las Vegas', 'Heidelberg', 'Central Henderson', 'Saint Jacobs',
       'Saguaro Lake', 'Cramond', 'Leith', 'W Spring Valley',
       'North Queensferry', 'Portobello', 'Water of Leith',
       'Centennial Hills', 'Woolwich', 'Victoria Park', 'Juniper Green',
       'W Summerlin', 'Lake Las Vegas', 'Henderson ', 'Straiton',
       'Deforest', 'Summerlin South', 'Clark County', 'Sun City Anthem',
       'Phoenix ', 'Glendale Az', 'Las Vegass', 'Mcfarland', 'Newbridge',
       'Sunrise Manor', 'Midlothian', 'Henderson and Las vegas',
       'NELLIS AFB', 'Surprise Crossing', 'Fort Kinnaird',
       'Chandler-Gilbert', 'Phoenix Sky Harbor Center', 'Eagan',
       'Stockbridge', 'New York', 'City of Edinburgh', 'South Gyle',
       'Central City Village', 'New Town', 'Scotland', 'London',
       'Whitney', 'St. Jacobs', 'Old Town', 'Newington',
       'Scottsdale, Phoenix, Chandler, Gilbert', 'Henderson (Stephanie)',
       'Henderson (Green  Valley)'], dtype=object)

In [6]:
sorted(business["city"].value_counts() , reverse = True)

[12022,
 7499,
 3605,
 2887,
 2041,
 2025,
 1914,
 1637,
 1630,
 1196,
 1049,
 591,
 521,
 391,
 308,
 258,
 203,
 164,
 150,
 149,
 127,
 114,
 101,
 92,
 91,
 87,
 81,
 79,
 77,
 72,
 66,
 64,
 63,
 62,
 52,
 50,
 38,
 34,
 34,
 31,
 29,
 24,
 23,
 20,
 19,
 19,
 18,
 14,
 11,
 11,
 11,
 10,
 10,
 10,
 10,
 9,
 9,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [7]:
business["city"].value_counts()

city
Las Vegas                    12022
Phoenix                       7499
Scottsdale                    3605
Edinburgh                     2887
Mesa                          2041
                             ...
Arcadia                          1
Ratho                            1
Penicuik                         1
Roslin                           1
Henderson (Green  Valley)        1
Name: count, Length: 172, dtype: int64

In [8]:
business["city"].nunique()

172

In [9]:
business["state"].unique()

array(['AZ', 'WI', 'NV', 'NC', 'GA', 'CA', 'ON', 'EDH', 'MLN', 'ELN',
       'FIF', 'SCB', 'XGL', 'NTH', 'NY', 'KHL', 'MN', 'MA'], dtype=object)

In [10]:
business["state"].value_counts()

state
AZ     22181
NV     14583
EDH     2841
WI      2118
ON       305
MLN      102
ELN        8
FIF        3
SCB        2
NY         2
CA         1
GA         1
NC         1
XGL        1
NTH        1
KHL        1
MN         1
MA         1
Name: count, dtype: int64

In [11]:
business.shape

(42153, 15)

In [12]:
business["attributes"].head(10)

0                        {'By Appointment Only': True}
1    {'Take-out': True, 'Good For': {'dessert': Fal...
2    {'Take-out': True, 'Good For': {'dessert': Fal...
3    {'Take-out': True, 'Wi-Fi': 'free', 'Takes Res...
4    {'Take-out': True, 'Has TV': False, 'Outdoor S...
5                                                   {}
6                                                   {}
7                                    {'Wi-Fi': 'free'}
8    {'Take-out': True, 'Wi-Fi': 'free', 'Good For'...
9                                                   {}
Name: attributes, dtype: object